@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>Hello</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="~/Scripts/raphael.js"></script>
        <script type="text/javascript" src="~/Scripts/cufon.js"></script>
        <script type="text/javascript" src="~/Scripts/matrix.font.js"></script>
    </head>
    <body>
        <div id="paper1"></div>
    </body>
    
    <script type="text/javascript">

        var width = $(document).width() - 100;
        var height = $(document).height() - 100;

        var paper = Raphael("paper1", width, height);
        paper.canvas.style.backgroundColor = "black";
        
        var font1 = paper.getFont("matrixfont");
        var characters = "!#\"$%&'()*+,-./235:9;<=>?[\]^abcdegfhijklmnopqrstuvwxyz{|}~";

        var columns = Math.round(width / 12);

        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetColumns", new { columnCount = 200 })",
                success: function (r) {
                    console.log("got data for columns");
                    

                    for (var col = 0; col < columns; col++) {
                        if (Math.floor((Math.random() * 10) + 1) > 2)
                            continue;

                        var tmp = function () {
                            var column = col;

                            var data = r.columns[column].map(function (d) { return characters[d % characters.length]; }).filter(function (d) { return d; });
                            var text = paper.print(column * 10, 0, data.join("\n"), font1, 24).attr("fill", "limegreen");
                            var textBounds = text.getBBox();

                            // set initial position
                            text.attr({ transform: ['t', column * 10, 0 - textBounds.height] });

                            // start animation
                            text.animate({ transform: ['t', column * 10, height] }, 20000, function () {
                                this.remove();
                                console.log("finished col: " + column);
                            });//.anim(Math.floor((Math.random() * 1000) + 1));

                            console.log("animate col: " + column);
                        }();
                    }

                }
            });
        });

    </script>
</html>